/all_data.csv
/audio
/dashboard.py
/latihan.py
/latihan_regresi
/modul34.py
/multipages
/multipages.py
/photo
/praktikum
/sentiment_twitter.csv
/sentimen_ind.py
/simplesentiment.py
/test.py
/testo.ipynb
/uber_pickup.py
/video